#span1 {
  color: green;
}

#span2 {
  color: red;
}

#span3a {
  color: red;
}

#span3b {
  color: green;
}

#span3c {
  color: darkkhaki;
}

.texta {
  background-color: #4e9a06;
}

.textb {
  background-color: rgba(255, 0, 0, .25);
}

#textc {
  background-color: hsl(250, 20%, 50%);
}

#textd {
  background-color: #c17d11;
  width: 200px;
}

#textd {
  background-color: #c17d11;
  width: 200px;
}

#div1 {
  background-color: yellow;
  width: 50%;
  width: 0.5em;
}

#div2 {
  background-color: red;
  width: 20%;
  width: 0.2em;
}